header {
  background-image: linear-gradient(
      rgba(21, 17, 17, 0.4),
      rgba(16, 12, 12, 0.4)
    ),
    url("../images/Dubai.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  margin: 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: #311b89;
  padding: 16px 32px;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
.card {
  background-color: white;
  margin: 30px 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #272044;
  margin: 0;
  margin-bottom: 4px;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.card-body {
  padding: 30px;
}
.card-body h4 {
  padding-right: 8px;
  margin-bottom: 5px;
  text-align: left;
}
.card-footer {
  padding: 20px;
  background-color: white;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(213, 212, 227);
}
.card-header.grid {
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1.8;
}
.card-header img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-width-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
img {
  width: 550px;
  height: 550px;
}
.img-responsive {
  width: 100%;
  display: block;
}
.text-center {
  text-align: center;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.secondary {
  padding: 2px 10px;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/Dubai2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
.section.secondary {
  background: #f8f8f8;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul {
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
